@import "tailwindcss";

:root {}
@theme inline {
  --color-white: #ffffff;
  --color-dark-blue: #0C365A;
  --color-highlight-green: #01D167;
  --color-light-blue: #EDF3FF;
  --color-highlight-blue: #325BAF;
  --color-background-light: #FCFCFC;
  --color-background-card: #F5F9FF;
  --color-background-green-light: #EDFFF5;
  --color-background-green-lighter: #DDFFEC;
  --color-background-grey: #F5F5F5;
  --color-background-grey-light: #F0F0F0;
  --color-accent-blue: #23CEFD;
  --color-accent-blue-light: #009DFF1A;
  --color-accent-pink: #F251951A;
  --color-accent-green: #00D6B51A;
  --color-grey: #AAAAAA;
  --color-black: #222222;
  --color-shadow-1: #0000001F;
  --color-shadow-2: #072A441F;
  --color-shadow-3: #00000014;
  --color-shadow-4: #00000005;
  --color-shadow-5: #0000000A;
  --color-shadow-6: #0000000F;
  --font-sans: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
  background: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-sans);
}
